/*

.image{
    width: 50%;
    height: 500px;
    background-image: url(assets/img/background/Render_3.jpg);
} */
.slide-2 .content {
    background: rgba(0, 0, 0, 0.07) !important;
}

p {
    line-height: 1.3 !important;
}

.special-font {
    color: black;
    font-size: 24px !important;
    line-height: 1 !important;
    margin-top: 15px !important;
}

.special-font-1 {
    font-size: 20px !important;
    color: black;
    line-height: 1 !important;
}

.special-font-2 {
    color: black;
    font-size: 24px !important;
}

.font-size {
    font-size: 28px !important;
    line-height: 1 !important;
}

.font-size-1 {
    font-size: 4em !important;
}

.font-size-2 {
    font-size: 2em !important;
}

.font-size-3 {
    font-size: 2em !important;
    color: black;
}

.margin {
    margin-top: -30%;
}

.title {
    margin-top: -4%;
    margin-bottom: 2%;
    width: 40% !important;
}

.title-height {
    width: 780px !important;
}

.flex-div {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.text-center {
    margin-top: 10px;
}

.flex-div-start {
    display: flex;
    justify-content: flex-start;
    width: 4px;
}

.flex-div-end {
    display: flex;
    justify-content: flex-end;
    width: 4px;
}



.margin-left {
    margin-left: 26%;
    max-width: 450px;
}

.div-width {
    width: 93%;
}

.margin-icon {
    margin-top: 3%;
}

.margin-icon-block {
    margin-top: 17%;

}

.image {
    height: 300px;
    background-image: url(assets/img/background/Render_3.jpg);
}

.wrap-1 {
    padding: 100px !important;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.flex-box>label {
    display: block;
    color: white;
    padding: 2%;
}

.input-text {
    width: 50%;
}

.input-message {
    width: 100%;
    margin-top: 10%;
}

.input-name {
    color: white;
    background: transparent;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid white;
    display: block;
    width: 100%;
}

input[type="submit"] {
    width: 215px;
    height: 72px;
    background-color: rgb(170, 170, 170);
    ;
    font-size: 2em;
    border-radius: 35px;
    border: 0;
    color: #ffff;
}

.button-submit {
    display: flex;
    margin: 5%;
    justify-content: flex-end;
}

input[type="submit"]:hover {
    opacity: 0.8;
    color: #ffff;
    border: 1px solid rgb(170, 170, 170);
}

.button-submit>div {
    width: 150px;
    margin: 0;
}

.label-text {
    margin-left: 118%;
}

textarea {
    resize: none;
}

@media(max-width: 1440px) {
    .margin-icon-block {
        margin-top: 20%;
    }

    .title {
        margin-top: -8%;
        margin-bottom: 5%;
    }

    .font-size-3 {
        font-size: 1.3em !important;
    }

    .progress-bar {
        /* margin-top: -2% !important; */
    }

    .fix-10-12 {
        width: 610px !important;
        /* margin: 3% 1% 0 0 !important; */
        margin: auto !important;
    }

    .fix-7-12,
    .fix-6-12 {
        width: 450px !important;
    }

    .fix-11-12,
    .media-screen {
        width: 540px !important;
    }

    .location-media {
        margin-right: 10% !important;
        width: 490px !important;

    }

    .special-font {
        font-size: 16px !important;
        line-height: 0.5 !important;
        margin-top: 1% !important;
    }

    .font-size {
        line-height: 0.7 !important;
    }

    .font-size-2 {
        font-size: 1.6em !important;
    }

    .fix-7-12 p {
        margin: 2% 0 0% 0 !important;
    }

    .fix-12-12 {
        margin-top: 5%;
    }

    .margin-top-2,
    .margin-top-1 {
        margin-top: 0.5% !important;
    }

    .special-font-1 {
        font-size: 15px !important;
        line-height: 0.9 !important;
        margin-top: 0% !important;
    }

    .active .content .container .wrap .fix-7-12 .flex-div .progress-bar-2 {
        height: 40px;
    }

    .title-flex {
        margin-bottom: 5%;
    }

    .media-screen-1-1 {
        width: 928px !important;
        margin: 0% !important;
    }


    .media-screen p {
        margin: 0 !important;
    }

    .media-img {
        margin-top: 1%;
    }

    .media-img img {
        height: 485px !important;
    }

    .margin-left {
        margin-left: 27%;
        max-width: 255px;
    }

    .active .content .container .wrap .toCenter .flex-div .progress-bar-2 {
        height: 54px;
    }

    .down {
        margin-top: 6.5%;
    }

    .button-submit {
        justify-content: center;
        font-size: 12px;
    }

    .display-block {
        font-size: 24px !important;
    }

    .fix-6-12 {
        margin-top: 2% !important;
    }

    .margin {
        margin-top: -20% !important;
    }

}


@media(max-width: 1024px) {

    .location-media {
        margin-left: auto !important;
        margin-right: auto !important;

    }

    .align-left {
        text-align: center !important;
    }

    .title {
        margin-bottom: 4% !important;
    }

    .fix-7-12 {
        width: 742px !important;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .margin-left {
        /* margin-left: auto !important;
        margin-left: auto !important; */
    }

    .font-size-1 {
        font-size: 3em !important;
    }

    .margin-icon-block {
        margin-top: 30% !important;
    }

    .media-img img {
        height: 400px !important;
    }

}

@media(max-width: 976px) {
    .title-height {
        width: 560px !important;
    }

    .active .content .container .wrap .toCenter .flex-div .progress-bar {
        width: 552px;
    }

    .active .content .container .wrap .toCenter .flex-div .progress-bar-2 {
        height: 40px;
    }

    .font-size-3 {
        font-size: 1em !important;
    }

    .title-media {
        /* margin-left: 10%; */
        margin-top: 2%;
    }

    .title-media-1 {
        /* margin-left: 15%; */
        margin-top: 2%;
    }
}

@media(max-width: 768px) {
    .title {
        width: 300px !important
    }

    .active .content .container .wrap .fix-7-12 .flex-div .progress-bar-1 {
        margin-left: 20% !important;
    }

    .active .content .container .wrap .fix-7-12 .flex-div .progress-bar {
        width: 60% !important;
        height: 2px !important;
        margin-right: 20% !important;
    }

    .fix-9-12 {
        max-width: 480px !important;
    }

    .title-height {
        width: 260px !important;
    }

    .active .content .container .wrap .toCenter .flex-div .progress-bar {
        width: 256px;
        height: 2px;
    }

    .active .content .container .wrap .toCenter .flex-div .progress-bar-2 {
        height: 28px;
        width: 2px;
    }

    .media-progress {
        margin-top: 10px !important;
    }

    .flex-div-start,
    .flex-div-end {
        width: 2px;
    }

    .text-center {
        margin-top: 2px;
    }

    .font-size-1 {
        font-size: 2.3em !important;
    }

}

@media (max-width: 454px) {
    .title-height {
        width: 229px !important;
    }

    .active .content .container .wrap .toCenter .flex-div .progress-bar {
        width: 226px;
        height: 2px;
    }

    .active .content .container .wrap .toCenter .flex-div .progress-bar-2 {
        height: 26px;
        width: 2px;
    }

    .media-progress {
        margin-top: 10px !important;
    }

    .flex-div-start,
    .flex-div-end {
        width: 2px;
    }
}

@media(max-width: 425px) {
    .font-size-1 {
        font-size: 1em !important;
    }

    .font-size-3 {
        font-size: 0.7em !important;
    }

    .fix-7-12,
    .fix-6-12 {
        width: 320px !important;
    }

    .title {
        width: 200px !important;
        margin-top: -25%;
        margin-bottom: 4%;
    }

    .special-font {
        font-size: 13px !important;
    }

    .special-font-1 {
        font-size: 10px !important;
        line-height: 0.4 !important;
    }

    .font-size {
        font-size: 20px !important;
    }

    .media-text {
        font-size: 14px;
    }

    .fix-7-12 p {
        margin: 2% 0 0% 0 !important;
    }

    .fix-6-12 {
        /* max-width: 200px !important;
        margin-top: 2%; */
        display: none;
    }

    /* .media-img {
        display: none;
    } */

    .fix-7-12 {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .title {
        margin-top: -35% !important;
    }

    .title-flex {
        width: 250px !important;
    }

    .active .content .container .wrap .fix-7-12 .flex-div .progress-bar-2 {
        height: 27px;
    }

    .margin-left {
        margin-left: auto !important;
        margin-left: auto !important;
        margin-bottom: 10% !important;
        max-width: 300px;
    }

    .fix-11-12 {
        max-width: 325px !important;
        margin-top: 7%;
    }

    input[type="submit"] {
        width: 150px;
        height: 50px;
        font-size: 1em;
    }

    .progress-bar,
    .progress-bar-2 {
        display: none;
    }

    .panel svg {
        width: 18px;
    }

    .fix-10-12 {
        width: 210px !important;
    }

    .font-size-2 {
        font-size: 1em !important;
    }

    .margin-icon-block {
        margin-top: 65% !important;
        margin-left: -7%;
    }

    .side {
        display: none;
    }

    .media-img {
        display: none;
    }

    .wrap-1 {
        padding: 50px !important;
    }

    .fix-11-12 {
        width: 250px !important;
    }

    .margin-icon-block {
        margin-top: 70% !important;
    }

    .animated .animate .ae-10:not(.done),
    .animated.animate .ae-10:not(.done) {
        transition-delay: 760ms;
        transition: 3s;
    }

    .left,
    .media-delete {
        display: none;
    }

    .margin-top-5 {
        margin-top: 3% !important;
    }

}